div.entry-preview-container
    div.entry-preview
        div.entry-preview-title
            h2 #{entry.title}
        div.entry-preview-type
            span #{entry.type}
    div.entry-actions
        a(href=`../entry/edit/${entry.slug}`) Edit
        a(href=`../entry/delete/${entry.slug}`) Delete
        a(href=`../entry/${entry.slug}`) View